:root {
  /*Colors*/
  --main-bg-color-1: #10151c;
  --main-bg-color-2: #ffffff;
  --buttons-bg-color: #fa0369;
  --main-text-color: #ffffff;
  --footer-bg-color: #f9f9fb;
  --common-text-color: #7e8597;
  --rare-text-color: #1a1a1a;
  --li-block-color: #141a25;
  --color-footer-button: rgba(255, 255, 255, 0.1);

  /*Fonts*/
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  color: var(--common-text-color);
  text-align: center;
}

.leftP {
  text-align: left;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
header {
  background-color: var(--main-bg-color-1);
}

.blackSection {
  background-color: var(--main-bg-color-1);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 108px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.endDiv {
  margin-top: 80px;
  margin-left: 24px;
  margin-right: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 64px;
  padding-bottom: 82px;
  background-color: var(--main-bg-color-1);
  border-radius: 25px;
}

.leftH2 {
  text-align: left;
  margin-block-start: 0;
}

.whiteP,
h2 {
  color: var(--main-text-color);
  text-align: center;
  font-size: 3.2rem;

  margin-bottom: 40px;
}

h3 {
  color: var(--main-text-color);
  font-size: 2.4rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgStack {
  text-align: center;
  margin-top: 80px;
}

ul {
  /*Для того чтобы маркеры в списке исчезли фактически*/
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

li {
  /* Убираем маркеры списка визуально*/
  list-style-type: none; /* Убираем маркеры */
}

.left_P_Type_2 {
  text-align: left;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: var(--main-text-color);
  padding-bottom: 40px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.h2_black {
  color: var(--rare-text-color);
}

.left_P_Type_3 {
  text-align: left;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: rgba(26, 26, 26, 0.56);
}

.center_small_P {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 400;

  margin-top: 12px;
}

.step_P {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--main-text-color);
  border-radius: 63px;
  background-color: #fa0369;
  margin-inline: auto;
  padding: 5px 14px;
  width: max-content;
}

.comment_under_button_P {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
  margin-top: 5px;
}

.pink_P {
  color: var(--buttons-bg-color);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  text-transform: uppercase;
  letter-spacing: 0.4px;

  margin-top: 80px;
  margin-bottom: 20px;
}

.under_icon_P {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-align: left;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--buttons-bg-color);
  border-radius: 100px;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  max-width: 342px;
  display: block;

  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--main-text-color);
}

.chat_button {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--main-text-color);

  border-radius: 100px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  width: 113px;
  height: 38px;

  float: right;
  margin-top: 18px;
  margin-right: 24px;
}

.headerImage {
  margin-top: 13px;
  margin-left: 18px;
}

.whiteSection {
  background-color: var(--main-bg-color-2);
}

.whiteSection-2 {
  margin-top: 80px;
  padding-top: 81px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 80px;
}

.greyBG {
  background-color: var(--footer-bg-color);
}

.babySection {
  padding-top: 80px;
}

.endBabySection {
  margin-top: 40px;
}

.paddingP {
  text-align: left;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding-top: 34px;
  margin-block-end: 0px;
}

.liBlock {
  text-align: center;
  margin-bottom: 30px;
  background-color: var(--li-block-color);
  border-radius: 24px;
  min-height: 262px;
  margin-left: auto;
  margin-right: auto;
  max-width: 327px;
}

.liImg {
  margin-top: 56px;
  margin-bottom: 42px;
}
